.wa-playground-editor {
    color: $text-white;
    font-weight: $font-weight-bold;
    height: 94% !important;

    &-tabs {
        background: $wa-highlight-bg;
        display: flex;
        height: 30px;
        //border-bottom: 1px outset $wa-action-bar-shadow;
        box-shadow: 0px 2px 2px $wa-action-bar-shadow;
    }
}

.wa-playground-code-editor {
    height: 100% !important;
    width: 100% !important;
}

.wa-editor-tab {
    padding: 7px 10px 0 10px;
    flex-basis: auto;
    min-width: 150px;
    display: flex;
    font-size: 14px;
    border-right: 1px solid $wa-default-bg;
    cursor: pointer;

    &--active,
    &:hover {
        background: $wa-default-bg;
    }

    &--active {
        border-top-right-radius: 10px;
    }

    .file-type-icon {
        margin-right: 5%;
    }

    &__close {
        margin-left: auto;
        cursor: pointer;
    }
}