// Foreground Colors
$text-white: #FFFFFF;
$text-primary: #62727B;

// Background Colors
$wa-action-bar-bg: #22283A;
$wa-side-bar-bg: #22283A;
$wa-editor-bg: #22283A;
$wa-status-bar-bg: #1A1F31;
$wa-highlight-bg: #181E2E;

// Border Colors
$wa-status-bar-border-color: #606874;
