// Font weights
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Colors
$wa-action-bar-shadow: rgba(0, 0, 0, 0.25);

// Heights
$wa-panels-height: 150px;
$wa-action-bar-height: 40px;
$wa-status-bar-height: 30px;

// Grid
$wa-grid-columns: 12;
$wa-one-fr: 1fr;
